
.contribution {
    display: flex;
    flex-direction: column;
    max-width: 90%;
}
.contribution h2{
    text-align: center;
}
.contribution h3{
    text-align: left;
    padding-left: 450px;

}

.image {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}