
.contribution {
    display: flex;
    flex-direction: column;
    padding: 50px;
    max-width: 90%;
    margin: 0 auto;
}
.contribution h2 {
    text-align: center;
    margin-bottom: 50px;
}

.contribution h3, 
.contribution p {
    margin-left: 0;
    padding-left: 0; 
    line-height: 1.5; 
    margin-left: 400px;
}

.image {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

@media (max-width: 768px) {
    .contribution {
        padding: 20px; 
    }

    .contribution h3, 
    .contribution p {
        margin-left: 50px; 
        font-size: 1rem; 
    }

    .image {
        margin-top: 20px; 
    }
}


@media (max-width: 480px) {
    .contribution {
        padding: 10px;
        text-align: justify;
        max-width: 100%;
    }

    .contribution h2 {
        font-size: 1.5rem; 
    }

    .contribution h3, 
    .contribution p {
        margin-left: 0; 
        font-size: 0.9rem; 
        text-align: justify; 
        margin-left: 100px;
    }

    .image {
        flex-direction: column; 
        margin-top: 15px;
    }
}