.events-section {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 50px 20px;
    flex-wrap: wrap; 
    text-align: center;
}

.events-section h2 {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    display: block;
}

.events-section .section1, .section2, .section3 {
    flex: 1;
    border-radius: 8px;
    overflow: hidden;
    background-color: #1e1e1e; 
}

.events-section .section1 img,
.events-section .section2 img,
.events-section .section3 img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.events-section .event-info {
    padding: 20px;
}

.events-section .section1{
    background-color: #4d3b2f;
}

.events-section .section2{
    background-color: #5c4f7f;
}

.events-section .section3{
    background-color: #111a48;
}

.event-info p{
    max-width: 95%;
}

@media (max-width: 768px) {
    .events-section {
        flex-direction: column; 
        gap: 10px; 
        padding: 20px; 
    }

    .events-section .section1, .events-section .section2, .events-section .section3 {
        flex: none; 
        width: 100%; 
    }

    .events-section h2 {
        font-size: 1.8rem; 
    }
}
