
.title-section h1 {
    margin-bottom: 20px;
    text-align: center;
}

.categories {
    display: flex;
    gap: 15px;
    margin-bottom: 40px;
    justify-content: center;
}

.category {
    cursor: pointer;
    transition: color 0.3s;
}

.category:hover {
    color:  #FF5C5C;
}

.separator-line {
    margin-top: 10px;
    margin-bottom: 20px;
    height: 2px;
    background-color: #ffffff;
    width: 100%;
}

.exhibition-spaces {
    margin-left: 50px;
}  

.exhibition-item {
    display: flex;
    gap: 50px;
    margin-bottom: 40px;
}

.exhibition-item img {
    width: 50%;
    height: auto;
    border-radius: 5px;
    object-fit:fill
}

.exhibition-content {
    display: flex;
    flex-direction: column;  
    gap: 10px; 
}

.exhibition-content h3 {
    font-weight: 400;
    margin: 0; 
    padding-left: 18px;
}

.exhibition-content p {
    margin: 0;  
    line-height: 1.5; 
}

@media (max-width: 768px) {
    .exhibition-spaces {
        margin-left: 10px; 
    }

    .exhibition-item {
        display: flex;
        flex-direction: column; 
        gap: 15px;
    }

    .exhibition-item img {
        width: 90%; 
        margin: 0 auto;
    }

    .exhibition-content {
        padding: 0 10px; 
    }

    .title-section h1 {
        font-size: 1.5rem; 
    }

    .category {
        font-size: 12px; 
    }
}


@media (max-width: 480px) {
    .exhibition-item {
        display: flex;
        flex-direction: column; 
        gap: 15px;
    }

    .exhibition-item img {
        width: 95%; 
        margin: 0 auto; 
    }

    .exhibition-content h3 {
        font-size: 1.2rem; 
        padding-left: 20px; 
    }

    .exhibition-content p {
        font-size: 14px; 
        text-align: left;
        max-width: 90%;

    }

    .categories {
        flex-direction: column; 
        align-items: center;
        gap: 5px;
    }

    .category {
        font-size: 12px; 
    }
}