
.terms-and-conditions {
    display: flex;
    flex-direction: column;
    padding: 50px;
    max-width: 90%;
    margin: 0, auto;
    margin-top: 50px;
}
.terms-and-conditions h2 {
    text-align: center;
}

.terms-and-conditions h3, 
.terms-and-conditions p,
.terms-and-conditions ul{
    margin-left: 0;
    padding-left: 0; 
    line-height: 1.5; 
}

.terms-and-conditions h3 {
margin-top: 20px;
}