.ticket-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    flex-direction: column;
}

.ticket-section h2, p {
    text-align: center;
    padding: 20px;
    max-width: 50%;
    margin: 0 auto;
}

.ticket-form {
    background-color: #3A3A3A;
    padding: 30px;
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
    text-align: center;
}

.ticket-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #F2F2F2;
}

.ticket-form label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #D3D3D3;
    text-align: left;
}

.ticket-form input,
.ticket-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #6E6E6E;
    border: none;
    border-radius: 5px;
    color: #FFF;
    font-size: 16px;
}

.ticket-form textarea {
    height: 150px;
    resize: none;
}