* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Quicksand", sans-serif;
    background-color: #1e1e1e;
    color: #F2F2F2;
    line-height: 1.6;
    overflow-x: hidden;
}

.header-image img{
    width: 100%;
    height: 600px;
    object-fit: cover;
}

a {
    color: #F2F2F2;
    text-decoration: none;
}

h1, h2 {
    font-weight: 200;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: #1e1e1e;
    border-bottom: 1px solid #444;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    max-height: 70px;
}

.logo-container {
    display: flex; 
    align-items: center; 
    gap: 15px; 
    margin-left: 30px;
}

.logo-container img {
    flex-shrink: 0; 
    width: 50px; 
    height: auto; 
}

.text-container {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    text-align: left; 
}

.text-container h1 {
    font-size: 20px;
    line-height: 1.2;
    margin: 0;
    color: #FFFFFF;
    letter-spacing: 2px;
}

.text-container h2 {
    font-size: 12px;
    margin: 0;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    letter-spacing: 1px;
}

.text-container .line {
    display: inline-block;
    width: 50px;
    height: 1px;
    background-color: #FFFFFF;
    margin: 0 10px;
}




.menu-container {
    flex-grow: 1;
    display: flex;
    justify-content: center; 
}

.menu-list {
    display: flex;
    gap: 25px;
    list-style: none;
}

.menu-list li a {
    color: #F2F2F2;
    font-size: 18px;
    font-weight: 300;
    transition: color 0.3s;
}

.menu-list li a:hover {
    color: #FF5C5C;
}


.icon-container {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.navbar_menu_icon {
    font-size: 20px;
    color: #ffffff;
    transition: color 0.3s;
}

.navbar_menu_icon:hover {
    color: #FF5C5C;
}

footer {
    background-color: #2E2E2E;
    padding: 30px 20px;
    color: #FFFFFF;
}

.footer-container {
    display: flex;
    justify-content: space-between; 
    gap: 10px; 
    max-width: 1200px;
    margin: 0 auto; 
    margin-top: 10px;
}

.footer-menu,
.contact-info,
.footer-hours {
    flex: 1;
}

.footer-menu {
    list-style: none;
}

.footer-menu li {
    margin-bottom: 10px;
}

.footer-menu a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
}

.contact-info .icon-text {
    display: flex;
    align-items: center;
    gap: 20px;
}

.contact-info .social-media {
    margin-top: 20px;
    margin-bottom: 10px;
}

.contact-info .social-media i {
    margin-right: 10px;
    font-size: 20px;
    color: #FFFFFF;
    cursor: pointer;
}

.footer-hours p {
    padding: 0;
    text-align: left;
}

.footer-menu a:hover {
    color: #FF5C5C;
}


.social-media i:hover {
    color: #FF5C5C;
}