.visit-us h1{
    text-align: center;
}

.info-section {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: space-between;
    padding: 20px;
}


.hours, .location, .admission, .accessibility, .food-and-drinks, .shop {
    background-color: #aca6a6; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 15px; 
    margin-bottom: 20px;
}


.hours, .location {
    flex: 1 1 calc(50% - 20px); 
}

.admission {
    flex: 1 1 100%;
}

.accessibility, .food-and-drinks {
    flex: 1 1 calc(50% - 20px); 
}

.shop {
    flex: 1 1 100%;
}


.hours p, .location p, .admission p, .accessibility p, .food-and-drinks p, .shop p {
    margin: 5px 0; 
    text-align: left;
    color: black;
    line-height: 1.5;
}


.hours h2, .location h2, .admission h2, .accessibility h2, .food-and-drinks h2, .shop h2 {
    margin: 5px 0;
    color: black;
}

.icon{
    color: black;
    font-size: 50px;
}

@media (max-width: 768px) {
    .info-section {
        flex-direction: column;
        gap: 10px;
        padding: 10px; 
    }
    

    .hours, .location, .admission, .accessibility, .food-and-drinks, .shop {
        flex: 1 1 100%;
    }
}




